body {
    margin: 0px;
    z-index: 1;
}

.flex {
    flex-grow: 1;
}

.toolbarLoginBtn {
    margin-left: -12px;
    margin-right: 20px;
}

.flex-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* 64px is the height of the App bar */
    height: calc(100vh - 64px);
}

.paper {
    padding: 12px;
}

.login-btn {
    width: 100%;
}

.lesson-card-lg {
    height: 300px;
}
.lesson-card-xs {
    min-height: 300px;
}

.lesson-card-btn {
    margin-bottom: 16px;
    width: 100%;
}

.content {
    padding: 16px;
}

.vert-spacer {
    padding: 5px;
}

.intro-card-lg {
    width: 50%;
}
.intro-card-xs {
    width: 100%;
}
.intro-subheading {
    border-right: solid;
    border-left: solid;
    
    border-color: red;
}

.review-fab {
    position: absolute;
    bottom: 12px;
    right: -12px;
}

.level-card {
    box-sizing: border-box;
    width: 50vw;
}

@media only screen and (max-width: 700px) {
    .level-card {
        box-sizing: border-box !important;
        width: 100vw;
    }
}

.level-stepper {
    position: absolute;
    bottom: 0px;
    width: 100vw;

    /* We otherwise go larger than the page */
    box-sizing: border-box;
}

.vocab-search-fab {
    position: fixed !important;
    bottom: 12px;
    right: 12px;
}

/*
 * Desktop screens a big enough so that the FAB won't cover anything.
 * That is not neccessarilly true for mobile devices.
 */
.vocab-bottom-spacer {
}
@media only screen and (max-width: 700px) {
    .vocab-bottom-spacer {
        /* 56px + 12px */
        margin-bottom: 68px;
    }
}
