body {
    background-image: ;
    background-size: cover;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url("assets/stock.jpg");
  background-size: cover;
  width: 1920px;
  height: 1080px;
  
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.card-body {
    margin: 10px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
